
a {
	color: purple;
}
.box {
	border: 1px solid black;
	width: 150px;
	height: 50px;
	padding: 10px;
	margin: 10px;
	color: white;
}
#red {
	background-color: red;
}
#orange {
	background-color: orange;
	margin-left: 30px;
	background-position: 30px;
}
#yellow {
	background-color: yellow;
	margin-left: 60px;
	background-position: 60px;
}
#green {
	background-color: green;
	margin-left: 90px;
	background-position: 90px;
}
#blue {
	background-color: blue;
	margin-left: 120px;
	background-position: 120px;
}
#violet {
	background-color: violet;
	margin-left: 150px;
	background-position: 150px;
}
p {
	font-weight: bold;
}